{
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "arrowParens": "avoid",
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "tabWidth": 2
}